nodejs 18.2.0
rust 1.61.0
nim 1.6.6
golang 1.18.2
github-cli 2.10.1
ytt 0.40.1
racket 8.5
jsonnet 0.18.0
dhall 1.42.0
elm 0.19.1
lua 5.4.4
clojure 1.10.3.1087
cue 0.4.3
go-getter 1.6.1
has 1.4.0
neovim nightly
direnv 2.31.0
haxe 4.2.5
luaJIT 2.0.5--2.4.4
stylua 0.13.1
crystal 1.4.1
stack 2.7.5
poetry 1.1.9
om 7.6.0
kotlin 1.9.0
dagger v0.8.7
skaffold 2.7.1
sqldef 0.16.7
redis-cli 7.2.1
git-chglog 0.15.4
alp 1.0.18
elasticsearch 8.10.2
trdsql 0.12.0
camunda-modeler 5.15.1
hostctl 1.1.4
opensearch-cli 1.1.0
doctoolchain 3.0.2
logtalk 3.00.0
kcat 1.7.1
protoc 24.4
chezmoi 2.41.0
